$palettes: (
	dark: (
		"text": #f7f7f7,
		"background": #3f3f44,
		"primary": #b1f47b,
		"secondary": #b5e9f4,
		"tertiary": #ff7235,
	),
	light: (
		"text": black,
		"background": white,
		"primary": #b1f47b,
		"secondary": blue,
		"tertiary": orange,
	),
);
$space: 4px;
$font: "Quasimoda", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
	Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

:root {
	--font: #{$font};
	--space: #{$space};
}
@each $mode, $palette in $palettes {
	[data-theme="#{$mode}"] {
		@each $name, $color in $palette {
			--clr-#{$name}: $color;
		}
	}
}
