.login-page {
    height: 100vh;
    display: flex;

    .container {
        width: 70%;
        margin: auto;
        max-width: 350px;

        h1 {
            text-align: center;
            font-size: 2.5rem;
            font-weight: 800;
        }

        form {
            padding: 40px 0 16px;


            label {
                @extend %label;
            }


            input {
                @extend %input;
            }

            button {
                @extend %main-button;
            }

        }
    }

    .create-account {
        font-size: 0.75rem;
        text-align: center;

        a {
            @extend %main-link;
        }
    }

    .logo {

        img {
            margin: auto;
            display: block;
            margin-top: 30px;
        }
    }

    .login-informations-container{
        display: none;
    }

//DESKTOP

    @media(min-width: $breakpoint-desktop){

    .container{
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: auto;
        max-width: 1440px;
    }

    .login-form-container{
        background-color: var(--clr-white);
        padding: calc(16 * var(--space));
        border-radius: 8px;
    }

    .login-informations-container{
        display: block;

        h2{
            text-align: center;
            font-size: 2.345rem;
        }
    }

    }
}