.card {
	&-day,
	&-week,
	&-month {
		background-color: var(--clr-white);
		border-radius: 8px;
		display: flex;
		padding: space(5);


		@media(min-width: $breakpoint-desktop){
			box-shadow: $box-shadow-light;
		}

	}
	&-week,
	&-month {
		width: calc(50% - 8px);

		p {
			font-size: 0.875rem;
			padding-top: space(1);
			line-height: 1.3;

			@media(min-width: $breakpoint-desktop){
				font-size: 0.975rem;
			}

			// @media(min-width: 1412px){
			// 	font-size: 0.875rem;
			// }
		}
	}
	&-content {
		margin: auto;
		line-height: 1;

		.svg-container {
			padding-left: space(5);

			@media screen and (min-width: $breakpoint-desktop) and (max-width: 1404px){
				padding-left: 0;
			}
		}
	}
}

.conso {
	&-monitoring-section {
		width: 88%;
		margin: auto;
	}

	&-row {
		display: flex;
		justify-content: space-between;
		margin-bottom: space(5);
        position: relative;

        .plant-container{
            position: absolute;
            right: -10px;
            bottom: 0;
        }
	}
}

.data {
	&-day {
		font-size: 4.75rem;
		font-weight: 600;

		@media(min-width: $breakpoint-desktop){
			font-size: 6.75rem;
		}

		.data-unit{
				font-size: 1.2rem;
			@media (min-width: $breakpoint-desktop){
				font-size: 1.75rem;
				font-weight: 500;
			}
		}
	}

	&-week,
	&-month {
		font-size: 2.75rem;
		font-weight: 700;

		@media(min-width: $breakpoint-desktop){
			font-size: 1.75rem;
		}

		@media(min-width: 1404px){
			font-size: 3.75rem;
		}

		.data-unit{
				font-size: 1.2rem;
			@media (min-width: $breakpoint-desktop){
				font-size: 1.15rem;
				font-weight: 500;
			}
		}
	}

}

.arrow {
	&-up {
		fill: var(--clr-red);
		stroke: var(--clr-red);
	}
	&-down {
		fill: var(--clr-primary);
		stroke: var(--clr-primary);
		transform: rotate(90deg);
	}
}


//DESKTOP

@media (min-width: $breakpoint-desktop){
	.card {
		&-day {
			height: 100%;
		}
	}
}