.day-card, .week-card, .month-card{
    background-color: var(--clr-white);
    border-radius: 8px;
    display: flex;
    padding: space(5);

    .card-content{
        margin: auto;
        line-height: 1;

        .svg-container{
            padding-left: space(5);
        }
    }
}

.conso-monitoring-section{
    width: 88%;
    margin: auto;
}

.conso-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: space(5);
}

.week-card, .month-card{
    width: calc(50% - 10px);

    p{
        font-size: 0.875rem;
        padding-top: space(1);
    }

    svg{
        height: 14px;
        width: 14pw;
    }
}


.day-data{
    font-size: 4.75rem;
    font-weight: 600;
}

.week-data, .month-data{
    font-size: 2.75rem;
    font-weight: 600;
}

.arrow-up{
    fill: var(--clr-red);
    stroke: var(--clr-red);
}

.arrow-down{
    fill: var(--clr-primary);
    stroke: var(--clr-primary);
    transform: rotate(90deg);
}