.graph-section {
	h2 {
		text-align: center;

		@media (min-width: $breakpoint-desktop) {
			text-align: left;
		}
	}
}

.recharts {
	.yAxis &-cartesian-axis-ticks {
		transform: translateY(-5%);
	}

	.yAxis &-label {
		transform: translateY(-10%);
	}

	&-wrapper {
		padding-top: 20px;
	}

	&-cartesian-axis {
		.recharts-text {
			fill: var(--clr-gray);
		}
	}

	&-default-tooltip {
		background-color: var(--clr-white) !important;
	}
}

.visual-graph {
	padding-top: space(2);
	min-height: 400px;
	height: calc(40 * var(--vh, 1vh));
}

.slider-time {
	&__container {
		width: auto;
		margin-left: auto;
		margin-right: auto;
		width: calc(3 * 25vw);
		padding: space(1);
		border-radius: space(2);
		background-color: var(--clr-light-gray);

		@media screen and (min-width: $breakpoint-tablet) {
			width: calc(3 * 22vw);
		}

		@media (min-width: $breakpoint-desktop) {
			width: 290px;
			float: right;
		}
	}

	&__inner-container {
		position: relative;
		height: space(7);
		@include flex($justify: space-between);
	}

	&__block {
		z-index: 0;
		position: absolute;
		top: 0;
		// transform: translateX(-100%);
		border-radius: 5px;
		left: 0;
		width: calc(100% / 3);
		height: 100%;
		background-color: var(--clr-white);
		pointer-events: none;
		transition: transform 0.3s ease;
		filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
	}

	&__item {
		@include flex();
		flex-grow: 1;
		color: var(--clr-text);
		position: relative;
		z-index: inherit;
		height: 100%;
		text-align: center;
		cursor: pointer;
		font-size: 16px;

		& span {
			width: 100%;
			display: block;
		}
	}
}

//SELECT
.recharts {
	&-default-legend {
		padding: space(5) !important;
		justify-content: space-evenly;

		@media (min-width: $breakpoint-desktop) {
			text-align: left !important;
			transform: translateY(-24px);
		}
	}

	&-legend-item {
		margin-right: space(8) !important;

		@media (min-width: $breakpoint-desktop) {
			margin-top: 34px !important;
		}

	}




	.select {
		&__placeholder {
			width: 100%;
			text-align: center;
		}

		&__control {
			background-color: var(--clr-white) !important;
			border: none;
			padding: space(1);
			box-shadow: $box-shadow;
			border-style: unset !important;
			border-width: unset !important;
		}

		&__menu-list {
			background-color: var(--clr-white) !important;
		}

		&__option--is-focused {
			background-color: rgba(var(--clr-light-gray), 0.5) !important;
		}

		&__indicators {
			svg {
				fill: var(--clr-text) !important;
			}
		}

		&__control {
			box-shadow: $box-shadow !important;
			background-color: var(--clr-white) !important;

			&--is-focus {
				background-color: red;
			}

			&:hover {
				border-color: unset !important;
				box-shadow: $box-shadow !important;
				border-style: unset !important;
			}
		}
	}

	.css-1rhbuit-multiValue {
		background-color: var(--clr-light-gray) !important;
	}


}

.multi-select {
	margin-top: 45px;
	z-index: 99;
	@extend %grid_width;

	&>div {
		background-color: var(--clr-white) !important;
	}

	@media (min-width: $breakpoint-desktop) {
		margin-top: unset;
		margin: unset;
	}
}