.cls-1 {
    fill: #3f3630;
    stroke: #3f3630;
}

.cls-1,
.cls-2,
.cls-4 {
    stroke-miterlimit: 10;
}

.cls-2 {
    fill: #3d7457;
    stroke: #3d7457;
}

.cls-3,
.cls-4 {
    fill: #1d3829;
}

.cls-4 {
    stroke: #1d3829;
}
