.tracker-inner-circle {
	width: 170px;
	height: 170px;
	background-color: var(--clr-white);
	box-shadow: 0px 0px 9px 1px rgba(238, 73, 51, 0.3);
	border-radius: 50%;
}

.tracker {
	@include flex($direction: column);
	// svg {
	// 	background-color: aquamarine;
	// }
	&__path-follow {
		stroke: var(--clr-light-gray);
	}

	&__progress {
		stroke: var(--clr-primary);
		transition: stroke-dashoffset 0.8s ease-out;
	}
	&__inner {
		fill: var(--clr-light-gray);
	}
	&__usage {
		font-size: space(8);
	}
	&__goal {
		font-size: space(4);
		fill: var(--clr-gray);
	}
}
