%main-button{
    padding: space(3) space(4);
    border-radius: 8px;
    margin: auto;
    display: block;
    margin-top: space(8);
    background-color: var(--clr-accent);
    border: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

%main-link{
    color: var(--clr-accent);
    text-decoration: none;
    font-weight: 700;
}